packages/.hg
lib/QtDevIfaceConfigDialog/.hg
lib/LQxtLog/.hg
lib/lqmeas/.hgsub
lib/lqmeas/cmake/Modules/.hg
lib/lqmeas/.hgsubstate
lib/lqmeas/.hgignore
lib/lqmeas/.hg
lib/lmath/packages/.hg
lib/lmath/.hgsub
lib/lmath/cmake/Modules/.hg
lib/lmath/.hgsubstate
lib/lmath/.hgignore
lib/lmath/.hgtags
lib/lmath/.hg
lib/QLedIndicator/.hg
lib/QtLbootDialog/.hg
lib/QTableViewHelpers/.hg
lib/x502api/packages/.hg
lib/x502api/lib/ltimer/.hg
lib/x502api/lib/osspec/.hg
lib/x502api/lib/lcspec/.hg
lib/x502api/lib/crc/.hg
lib/x502api/.hg
pulses.npz
CMakeLists.txt.user
CMakeLists.txt.user.4.8-pre1
CMakeLists.txt.user.c54c0a6
